p {
  background-color: white;
  width: 200px;
  height: 200px;
  font-size: 10em;
  text-align: center;
  margin: 10px;
  color: black;
}

div {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
  justify-content: center;
}

